In [1]:
import pandas as pd
import numpy as np

In [37]:
data = pd.read_csv('apartment_exam02.csv', encoding='cp949', sep=',', skiprows=15)

# names = ["시군구","번지","본번","부번","단지명","전용면적(㎡)","계약년월","계약일","거래금액(만원)","층","건축년도","도로명","해제사유발생일","거래유형","중개사소재지"], header=0

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       537 non-null    object
 1   번지        537 non-null    object
 2   본번        537 non-null    int64
 3   부번        537 non-null    int64
 4   단지명       537 non-null    object
 5   전용면적(㎡)   537 non-null    float64
 6   계약년월      537 non-null    int64
 7   계약일       537 non-null    int64
 8   거래금액(만원)  537 non-null    object
 9   층         537 non-null    int64
 10  건축년도      537 non-null    int64
 11  도로명       537 non-null    object
 12  해제사유발생일   19 non-null     float64
 13  거래유형      537 non-null    object
 14  중개사소재지    537 non-null    object
dtypes: float64(2), int64(6), object(7)
memory usage: 63.1+ KB

In [39]:
data.head(3)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,1282,1282,0,개포래미안포레스트,59.92,202301,5,"158,000",13,2020,개포로 264,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,1282,1282,0,개포래미안포레스트,59.92,202301,14,"166,000",13,2020,개포로 264,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,1282,1282,0,개포래미안포레스트,59.92,202301,20,"167,000",12,2020,개포로 264,NaN,중개거래,서울 강남구

In [40]:
data['시군구'].unique()

array(['서울특별시 강남구 개포동', '서울특별시 강남구 논현동', '서울특별시 강남구 대치동', '서울특별시 강남구 도곡동',
       '서울특별시 강남구 삼성동', '서울특별시 강남구 세곡동', '서울특별시 강남구 수서동', '서울특별시 강남구 신사동',
       '서울특별시 강남구 압구정동', '서울특별시 강남구 역삼동', '서울특별시 강남구 일원동',
       '서울특별시 강남구 자곡동', '서울특별시 강남구 청담동'], dtype=object)

In [43]:
data['단지명'].value_counts()

단지명
성원대치2단지아파트          48
은마                  34
도곡렉슬                29
래미안블레스티지            19
푸른마을아파트101동~111동    19
                    ..
상지리츠빌(1호라인)          1
에스케이허브젠              1
역삼디오슈페리움             1
두영                   1
현대한강빌라               1
Name: count, Length: 147, dtype: int64

In [6]:
ocean_heim = data[data['단지명'] == 'e편한세상영종국제도시오션하임']

In [31]:
ocean_heim[ocean_heim['거래금액(만원)']==ocean_heim['거래금액(만원)'].min()]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
2,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,74.983,202301,19,"32,000",3,2018,두미포로 112,NaN,중개거래,인천 중구

In [8]:
ocean_heim[ocean_heim['전용면적(㎡)'] > 84]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9515,202301,3,"35,000",1,2018,두미포로 112,NaN,중개거래,인천 중구
1,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202301,13,"39,000",12,2018,두미포로 112,NaN,중개거래,인천 중구
3,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202301,20,"40,000",8,2018,두미포로 112,NaN,직거래,-
4,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202301,28,"38,500",4,2018,두미포로 112,NaN,중개거래,"경기 시흥시, 인천 중구"
5,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9684,202302,1,"41,800",8,2018,두미포로 112,NaN,중개거래,인천 중구
6,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202302,2,"41,000",19,2018,두미포로 112,NaN,중개거래,인천 중구
8,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202302,7,"40,000",25,2018,두미포로 112,NaN,중개거래,인천 중구
9,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202302,14,"40,000",20,2018,두미포로 112,NaN,중개거래,인천 중구
10,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202302,17,"39,000",13,2018,두미포로 112,NaN,중개거래,인천 중구
11,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202302,18,"39,200",19,2018,두미포로 112,NaN,중개거래,"인천 부평구, 인천 중구"
12,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202302,25,"36,500",1,2018,두미포로 112,NaN,중개거래,인천 중구
13,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202302,25,"41,500",6,2018,두미포로 112,NaN,중개거래,인천 중구
15,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202303,1,"43,000",10,2018,두미포로 112,NaN,중개거래,인천 중구
16,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202303,4,"41,000",16,2018,두미포로 112,NaN,중개거래,인천 중구
17,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9684,202303,12,"42,000",11,2018,두미포로 112,NaN,중개거래,인천 중구
18,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202303,14,"40,500",12,2018,두미포로 112,NaN,중개거래,인천 중구
20,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9515,202303,19,"38,500",8,2018,두미포로 112,NaN,중개거래,서울 구로구
21,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202303,20,"35,000",6,2018,두미포로 112,NaN,직거래,-
22,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202303,22,"39,000",24,2018,두미포로 112,NaN,중개거래,인천 중구
24,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,84.9777,202303,25,"40,000",7,2018,두미포로 112,NaN,중개거래,인천 중구

In [11]:
ocean_heim[ocean_heim['전용면적(㎡)'] < 80]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
2,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,74.9830,202301,19,"32,000",3,2018,두미포로 112,NaN,중개거래,인천 중구
7,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,74.9684,202302,6,"35,500",9,2018,두미포로 112,NaN,중개거래,인천 중구
14,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,74.9684,202302,27,"34,500",9,2018,두미포로 112,NaN,중개거래,인천 중구
19,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,74.9830,202303,18,"36,500",21,2018,두미포로 112,NaN,중개거래,인천 중구
23,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,74.9830,202303,23,"38,000",25,2018,두미포로 112,NaN,중개거래,인천 중구
25,인천광역시 중구 중산동,1887-4,1887,4,e편한세상영종국제도시오션하임,74.9684,202303,25,"34,000",3,2018,두미포로 112,NaN,중개거래,인천 중구

In [44]:
def strip_comma(x):    
    x = x.strip().replace(',', '')
    # print(x)
    return x

In [45]:
data['거래금액(만원)'] = data['거래금액(만원)'].apply(lambda x: int(strip_comma(x)))

In [46]:
data = data[['거래금액(만원)', '단지명', '전용면적(㎡)']]

In [47]:
data.head(3)

   거래금액(만원)        단지명  전용면적(㎡)
0    158000  개포래미안포레스트    59.92
1    166000  개포래미안포레스트    59.92
2    167000  개포래미안포레스트    59.92

In [49]:
data_group_price = data.groupby(['단지명', '전용면적(㎡)']).min()

In [52]:
type(data_group_price)

pandas.core.frame.DataFrame

In [53]:
data_group_price.to_csv('kangnam_group_price.csv')

In [54]:
new_df = pd.read_csv('kangnam_group_price.csv', sep=',')

In [55]:
new_df

             단지명  전용면적(㎡)  거래금액(만원)
0    LG선릉에클라트(A)   36.160     33000
1    LG선릉에클라트(A)   41.640     37500
2    LG선릉에클라트(B)   36.350     34000
3    LG선릉에클라트(B)   36.470     30000
4        SK허브프리모   67.570     90000
..           ...      ...       ...
259       현대한강빌라  136.260    350000
260      현대휴먼터치빌   25.920     24000
261      현대휴먼터치빌   35.880     30000
262   현대힐스테이트2단지   40.763    158000
263   현대힐스테이트2단지   84.236    244000

[264 rows x 3 columns]

In [56]:
new_df[new_df['전용면적(㎡)'] < 40]

                  단지명  전용면적(㎡)  거래금액(만원)
0         LG선릉에클라트(A)  36.1600     33000
2         LG선릉에클라트(B)  36.3500     34000
3         LG선릉에클라트(B)  36.4700     30000
16           강남역우정에쉐르  16.7800     21000
44               까치마을  34.4400     83500
45               까치마을  39.6000     86500
52              대우디오빌  25.8900     25900
53              대우디오빌  30.0300     32500
54              대우디오빌  31.8100     28000
55              대우디오빌  39.1300     36400
57           대우디오빌플러스  34.4100     32000
58   대우아이빌멤버스(891-26)  35.7960     35500
59   대우아이빌명문가(891-23)  33.0600     28000
60   대우아이빌명문가(891-23)  35.7200     33500
140           삼익대청아파트  39.5300     94000
153        성원대치2단지아파트  33.1800     81000
154        성원대치2단지아파트  39.5300     89800
158                수서  39.9800     88000
160               신동아  33.1800     80000
161               신동아  39.5100     90000
163           신동아(22)  35.7300     90000
183          역삼I'PARK  28.2460     71800
192          요진와이시티미니  12.1000     18900
193          요진와이시티미니  12.9400     14000
194           우림루미아트1  24.0000     21700
203             중명하니빌  22.7800     30000
204             중명하니빌  24.7400     30000
205             중명하니빌  32.0200     36000
207             진넥스빌2  23.8500     23000
214        청담신원아침도시마인  27.0875     33000
224  테헤란로대우아이빌(891-6)  29.0200     34500
225  테헤란로대우아이빌(891-6)  33.1100     37800
226  테헤란로대우아이빌(891-6)  35.5100     38000
242        한양수자인어반게이트  16.2000     19800
256            현대비젼21  32.6500     48500
260           현대휴먼터치빌  25.9200     24000
261           현대휴먼터치빌  35.8800     30000